*{
    margin: 0px;
    padding: 0px;
}
h3{
    font-size: 30px;
    color: rgb(249, 6, 6);
}
.con{
    background-color: rgb(29, 25, 20);
    color: aliceblue;
    margin-left: 25%;
    margin-right: 33%;
    margin-top: 15%;
    height: 30vh;
    padding-left: 7%;
    padding-top: 5%;
    padding-bottom: 3%;
    
}
#ba,#hei{
    font-size: 20px;

}
#b{
    padding: 3px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(242, 236, 236);
    background-color: blue;
}
#disp{
    font-size: 25px;

}
